
<div class="row">
    <div class="col-md-8 col-md-offset-2 well top-space">
        <h1 class="title-ppal">Nuevo contacto</h1>
        <%= render 'form', button_name:"Crear Usuario" %>
        <hr>
        <%= link_to 'Volver', users_path, class: "btn btn-default" %>
    </div>
</div>



