
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Nuevo contacto</h1>
        <%= render 'form' %>
        <hr>
        <%= link_to 'Volver', users_path, class: "btn btn-default" %>
    </div>
</div>



