 html, body{
  background-color:#FFFFFA;
  color:#024959 ;
 }

 .top-space, .actions{
     margin-top:1em;
 }

 .title-ppal{
 font-family: 'Open Sans', sans-serif;
  color: #F24C27;
 }
 .btn-danger{
  background-color:#F24C27;
 }
 .btn-primary{
  background-color: #024959;
 }