 html, body{
  background-color:#FFFFFA;
  color:#024959 ;
 }

 .top-space, .actions{
     margin-top:1em;
 }

 .title-ppal{
  font-family: 'Open Sans', sans-serif;
  color: #F24C27;
 }
  .title-ppal:hover{
  color: #024959;
  text-decoration: none;
 }
  .title-ppal:focus{
  text-decoration: none;
 }
 .btn-danger {
  background-color:#F24C27;
 }
 .btn-primary {
  background-color: #024959;
 }
 .capitalize {
  text-transform: capitalize;
 }